body {
    margin: 0;
    display: flex;
    flex-direction: row; /* Горизонтально на ПК */
    height: 100vh;
    background: #111;
    color: #fff;
    font-family: Arial;
}

#ui {
    width: 300px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    z-index: 10;
}

#canvas-container {
    flex-grow: 1; /* Займає весь вільний простір */
    position: relative;
    overflow: hidden;
}

button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
}

@media(max-width: 768px) {
    body {
        flex-direction: column; /* Вертикально на телефоні */
    }
    #ui {
        width: 100%;
        height: auto;
        max-height: 40vh;
    }
}
